body {background-color: #999999}

a.nav {text-decoration: none; color: #000000; font-family: Verdana,Arial,Helvetica; font-size: 7pt; font-weight: bold}
a.footer {text-decoration: none; color: #000000; font-family: Verdana,Arial,Helvetica; font-size: 7pt}
a.footer_nav {text-decoration: none; color: #000000; font-family: Verdana,Arial,Helvetica; font-size: 7pt; font-weight: bold}
div.n11 {margin-bottom: 10px; margin-left: 10px; font-family: Verdana,Arial,Helvetica; font-size: 7pt; font-weight: bold}
div.n21 {margin-bottom: 10px; margin-left: 20px; font-family: Verdana,Arial,Helvetica; font-size: 7pt; font-weight: bold}
div.n31 {margin-bottom: 10px; margin-left: 30px; font-family: Verdana,Arial,Helvetica; font-size: 7pt; font-weight: bold}
div.n41 {margin-bottom: 10px; margin-left: 40px; font-family: Verdana,Arial,Helvetica; font-size: 7pt; font-weight: bold}
div.n12 {margin-bottom: 20px; margin-left: 10px; font-family: Verdana,Arial,Helvetica; font-size: 7pt; font-weight: bold}
div.n13 {margin-bottom: 30px; margin-left: 10px; font-family: Verdana,Arial,Helvetica; font-size: 7pt; font-weight: bold}
div.n32 {margin-bottom: 20px; margin-left: 30px; font-family: Verdana,Arial,Helvetica; font-size: 7pt; font-weight: bold}
div.n42 {margin-bottom: 20px; margin-left: 40px; font-family: Verdana,Arial,Helvetica; font-size: 7pt; font-weight: bold}

p {margin-left: 30px; margin-right: 20px; margin-top: 10px; margin-bottom: 30px}
a.t1 {text-decoration: none; color: #000000; font-family: Verdana,Arial,Helvetica; font-size: 15pt}
a.t2 {text-decoration: none; color: #000000; font-family: Verdana,Arial,Helvetica; font-size: 11pt; font-weight: bold}
a.t3 {text-decoration: none; color: #000000; font-family: Verdana,Arial,Helvetica; font-size: 10pt}
a.t4 {text-decoration: none; color: #000000; font-family: Verdana,Arial,Helvetica; font-size: 8pt}
a.link {text-decoration: none; color: #0000FF; font-family: Arial,Helvetica,Verdana; font-size: 10pt; font-weight: bold}
a {text-decoration: none; color: #0000FF; font-family: Verdana,Arial,Helvetica; font-size: 10pt}
div.s01 {margin-left: 0px; margin-bottom: 10px}
div.s11 {margin-left: 10px; margin-bottom: 10px}
div.s21 {margin-left: 20px; margin-bottom: 10px}
div.s12 {margin-left: 10px; margin-bottom: 20px}
div.s32 {margin-left: 30px; margin-bottom: 20px}
div.s42 {margin-left: 40px; margin-bottom: 20px}
div.s80 {margin-left: 80px; margin-bottom: 0px}









